[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython.git
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
[submodule "libssh"]
	path = libssh
	url = https://git.libssh.org/projects/libssh.git
