[submodule "cJSON"]
path = cJSON
url = https://github.com/DaveGamble/cJSON.git
[submodule "curl"]
path = curl
url = https://github.com/curl/curl.git
[submodule "libssh"]
path = libssh
url = https://git.libssh.org/projects/libssh.git
[submodule "zlib"]
path = zlib
url = https://github.com/madler/zlib.git
[submodule "openssl"]
path = openssl
url = https://github.com/openssl/openssl.git
